body {
  font-family: monospace, 'Yu Gothic';
  text-align: center;
  background-color: #DADAD9;
}

#img-input {
  display: block;
  margin: 0 auto;
}

#img-input ~ input {
  margin: 20px;
}
/* button styles */
.button {
  margin: 40px auto;
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 1.5em 3em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
}

.button:hover {
  background: rgba(100, 0, 0, 0.03);
}

.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  will-change: transform;
}

.button__horizontal::before,
.button__vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}

.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/* image styles */
#img-display {
  border: 1px solid grey;
  box-shadow: 1px 1px 0.5px grey;
  margin: 0 auto;
}

/* loader styles */
.lds-ring {
  display: none;
  position: relative;
  width: 84px;
  height: 84px;
  margin: 50px auto;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* feedback styles */
#missed-features {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.boxed-style-heading {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #9b9999;
}
.boxed-style-heading span {
  border: 2px solid #c9c9c9;
  padding: 3px 2px 3px 7px;
  border-radius: 6px;
  font-weight: 400;
}

p {
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: #3fa4ad;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tags-input {
  border: 2px solid #e55743;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
}
.tags-input span {
  background: #bbb;
  margin-right: 7px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 20px;
}
.tags-input span[data-selected] {
  background: #71ccd5;
}
.tags-input::after {
  content: "";
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  -webkit-animation: blink 0.5s infinite alternate;
          animation: blink 0.5s infinite alternate;
}
.tags-input:focus {
  border-color: #64b2b9;
  outline: none;
}
.tags-input:focus[data-cursor]::after {
  display: block;
}
@media screen and (max-width: 736px) {
  .tags-input:focus[data-cursor]::after {
    display: none;
  }
}
.tags-input:focus + h1 span {
  border-color: #64b2b9 !important;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* checkbox styles */

#wrong-features {
  margin-top: 50px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.custom-checkbox {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.custom-checkbox div {
  padding: 0 10px;
}

.custom-checkbox div input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

.custom-checkbox div input[type="checkbox"]:checked ~ label svg {
  background: #e55743;
}
.custom-checkbox div input[type="checkbox"]:checked ~ label svg path {
  stroke-dashoffset: 0;
}

.custom-checkbox div input[type="checkbox"] ~ label {
  font-size: 1.5em;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  cursor: pointer;
  color: #3fa4ad;
}

.custom-checkbox div input[type="checkbox"] ~ label svg {
  width: 1em;
  height: 1em;
  border: 2.5px solid #e55743;
  margin-right: 5px;
}
.custom-checkbox div input[type="checkbox"] ~ label svg path {
  transition: stroke-dashoffset 440ms cubic-bezier(0.69, 0.35, 0.63, 0.84);
  fill: none;
  stroke: #9e3d30;
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
  stroke-width: 5px;
}

